footer{
    background-color: #33383c;
    padding:10px 10px;
    margin-top: 150px;
}	
span.fa-shopping-cart{
padding-right: 15px;
}
.adress span , .contact span , .social span{
  color: #FFF; 
  font-weight: 800; 
  padding:20px 0px;
  display: block;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 3px;
  
}
.adress span , .contact span{
   border-bottom: 1px solid #888582;
}
.adress li , .contact li , .social li {
   padding:5px 0px;
   list-style: none;
}

.adress li p , .contact li a , .social li a{
   color:#FFF;
   letter-spacing: 2px;
   text-decoration:none;
   font-size:14px;
}
.social li{
   float:left;
}
.social .fa{
   color:#9c9c9c;
   margin-right: 10px;
   font-size:22px;
}